<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xena Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
    </style>
</head>
<body>
    <h1>Xena Visualization</h1>
    <div id="input-container">
        <input type="text" id="patient_id" placeholder="Enter Patient ID:">
        <button onclick="fetchData()">Fetch Data</button>
    </div>
    <div id="chart"></div>

    <script>
        function fetchData() {
            const patientId = document.getElementById('patient_id').value;
            fetch(`http://localhost:59881/genes?patient_id=${patientId}`)
                .then(response => {
                    if (!response.ok) {throw new Error('Network response code error!');}
                    return response.json();
                })
                .then(data => {
                    if (data.error) { alert(data.error); }
                    else { plotData(data); }
                })
                .catch(error => {
                    console.error('There was a problem with fetching:', error);
                });
        }

        function plotData(data) {
            const genes = ['C6orf150', 'CCL5', 'CXCL10', 'TMEM173', 'CXCL9', 'CXCL11', 'NFKB1', 'IKBKE', 'IRF3', 'TREX1', 'ATM', 'IL6', 'IL8'];
            const values = genes.map(gene => data[gene]);
            const trace = {
                x: genes,
                y: values,
                type: 'bar'
            };
            const layout = {
                title: `Gene Expression for Patient ID: ${data.patient_id}`,
                xaxis: { title: 'Genes' },
                yaxis: { title: 'Expression Level' }
            };

            Plotly.newPlot('chart', [trace], layout);
        }
    </script>
</body>
</html>