@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Doctor!</h1>

<div>
    <p>Welcome to your patient management system. Use the navigation menu to add new patients or view existing ones.</p>
    <p>Get details about a patient; their medical history, past visits or prescriptions</p>
</div>
