@page "/newpatient"
<h3>Add a new patient</h3>

<div class="form-control">
    <label class="col-4 col-form-label">Patient's first name:</label>
    <div class="col-8">
        <input class="form-control"
               type="text"
               @bind="Patient.FirstName"/>
    </div>

    <label class="col-4 col-form-label">Patient's last name:</label>
    <div class="col-8">
        <input class="form-control"
               type="text"
               @bind="Patient.LastName" />
    </div>
    <label class="col-4 col-form-label">Patient's OIB:</label>
    <div class="col-8">
        <input class="form-control"
               type="text"
               @bind="Patient.Oib" />
    </div>
    <label class="col-4 col-form-label">Patient's date of birth:</label>
    <div class="col-8">
        <input class="form-control"
               type="date"
               @bind="Patient.Birthday" />
    </div>
    <label class="col-4 col-form-label">Patient's sex:</label>
    <div class="form-check">
        <input class="form-check-input" 
               type="radio" 
               name="sex" 
               id="male" 
               value="Male" 
               @onchange="@((e) => Patient.IsMale = e.Value.ToString() == "Male")" />
        <label class="form-check-label" for="male">
            Male
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" 
               type="radio" 
               name="sex" 
               id="female" 
               value="Female" 
               @onchange="@((e) => Patient.IsMale = e.Value.ToString() == "Female")" />
        <label class="form-check-label" for="female">
            Female
        </label>
    </div>
    @if (@Message is not null && @Message.Length != 0)
    {
        <div class="row">
            <span class="alert alert-danger">@Message</span>
        </div>
    }
    <div class="row">
        <button class="btn btn-primary" @onclick="AddPatient">Add patient</button>
    </div>
</div>